h1{
    color: purple; #can find many colors on w3 school web
    border: 2px solid blue; #border size and color
    background: #D3D3D3; #hexcolor on w3school css-color
    text-transform: uppercase; #uppercase hall text
    text-align: center;
  }
  h2{
    color: purple;21`
    border: 1px solid blue;
    background: #FFA07A;
  }
  html{
    background: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2F736x%2F44%2F6e%2F72%2F446e72edf4115c3f4f1b582780cf727d--diamond-background-diamond-pattern.jpg&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F806214770763289194%2F&tbnid=gQi2qXO3X8Ea1M&vet=12ahUKEwjwhOjlzLP1AhWyEWMBHRABAcQQMygbegUIARCGAg..i&docid=l84yBGMySAeP_M&w=600&h=300&itg=1&q=web%20white%20wallpaper&client=opera&ved=2ahUKEwjwhOjlzLP1AhWyEWMBHRABAcQQMygbegUIARCGAg');
    background-size: cover;   <!--  #background-repeat: no-repeat; #background repeat fixed  -->
    text-transform: capitalize; #capitalize all the first Letters
      
  }
  ul{
    font-size: 16px; #size
    font-weight: 900; #text weight
    font-style: italic; #italics
    font-family: 'Arial'; #text-font
    text-decoration: underline;
  }
  ol{
    text-align: center;
  }
#main{
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 20px 0 20px 0; #(top,right,bottom,left)
  padding:0 20px 0 20px;
}
div{
  border: 1px solid red;
}
body{
  border: 1px solid red;
  font-family: 'Merriweather'; 
}

